<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { pageTitle: "Delete Note" }); %>
    <link rel="stylesheet" href="/css/deleteNote.css" />
  </head>
  <body>
    <header>
      <%- include("../partials/navbar", { isAuthenticated: true }); %>
    </header>

    <div class="contentContainer">
      <h1>Delete Confirmation</h1>

      <% if (message) { %>
        <span class="message success"><%= message %></span>
      <% } else if (errorMsg) { %>
        <span class="message error"><%= errorMsg %></span>
      <% } else { %>
        <main>
          <p>Are you sure you want to delete this note?</p>

          <form action="/notes/<%= noteId %>/delete" method="post">
            <button class="deleteConfirmBtn">Yes</button>
          </form>
          <form action="/notes">
            <button class="deleteCancelBtn">No</button>
          </form>
        </main>
      <% } %>

      <% if (message || errorMsg) { %>
        <a href="/notes">Go to Home page</a>
      <% } %>
    </div>
  </body>
</html>
