<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partials/head", { pageTitle: "Note" }); %>
    <link rel="stylesheet" href="/css/note.css" />
  </head>

  <body>
    <header>
      <%- include("../partials/navbar", { isAuthenticated: true }); %>
    </header>

    <div class="contentContainer">
      <%- include("../partials/backLink", { href: "/notes" }) %>
      <%- include("../partials/noteHeader", { title, createdAt, tags  }); %>

      <hr />

      <main>
        <%- content %>
      </main>
    </div>

    <%- include("../partials/footer") %>
  </body>

</html>